.healthBG {
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .55);
    border: 2px solid rgba(0, 0, 0, .4);
    border-radius: 10px;
}

.healthText {
    color: white;
    font-size: 30px;
}

.healthText2 {
    color: red;
    font-size: 30px;
}