.fragsBG {
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 5px;
    background-color: rgba( 0, 0, 0, .46 );
    border: 2px solid rgba( 0, 0, 0, .4 );
    border-radius: 10px;
}

.deathsBG {
    position: absolute;
    left: 15px;
    top: 75px;
    padding: 5px;
    background-color: rgba( 0, 0, 0, .46 );
    border: 2px solid rgba( 0, 0, 0, .4 );
    border-radius: 10px;
}

.healthBG {
    position: absolute;
    left: 15px;
    bottom: 75px;
    padding: 5px;
    background-color: rgba( 0, 0, 0, .46 );
    border: 2px solid rgba( 0, 0, 0, .4 );
    border-radius: 10px;
}

.ammoBG {
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 5px;
    background-color: rgba( 0, 0, 0, .46 );
    border: 2px solid rgba( 0, 0, 0, .4 );
    border-radius: 10px;
}

.text {
    color: white;
    font-size: 30px;
}

.text2 {
    color: lightskyblue;
    font-size: 30px;
}

.healthText {
    color: red;
    font-size: 30px;
}

.ammoText {
    color: orangered;
    font-size: 30px;
}